<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CrashReporter">
      <section name="CrashDumper" type="RJCP.Diagnostics.Config.CrashDumper, RJCP.Diagnostics.CrashReporter"/>
      <section name="XmlCrashDumper" type="RJCP.Diagnostics.Config.XmlCrashDumper, RJCP.Diagnostics.CrashReporter"/>
    </sectionGroup>
  </configSections>

  <CrashReporter>
    <CrashDumper>
      <DumpDirectory path="${CWD}/CrashDumps"
                     ageDays="45" maxLogs="40" freeGb="5" freePercent="1" maxGb="1" minLogs="5"/>
    </CrashDumper>
    <XmlCrashDumper>
      <StyleSheet name="RJCP.Diagnostics.CrashReporter, RJCP.Diagnostics.CrashExport.Xml.CrashDump.xsl"/>
    </XmlCrashDumper>
  </CrashReporter>
</configuration>